@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@source "../src";
@source inline("hidden");
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-opensans: "Open Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-mono: "Roboto Mono", monospace;

    --color-smoke: #f2f4f7;
    --color-deepsea: #095256;
    --color-teal: #087f8c;
    --color-zomp: #5aaa95;
    --color-asparagus: #86a873;
    --color-sheengold: #bb9f06;
    --color-zeus: #242424;

    --shadow-smoke-shadow: 0 8px 26px 0 rgba(22, 24, 26, 0.15);
    --shadow-smoke-shadow-hover: 0 14px 34px 0 rgba(22, 24, 26, 0.22);

    --ease-custom: cubic-bezier(0.165, 0.84, 0.44, 1);

    --animate-bgLine: lineMove 8s linear infinite;
    --animate-loader: loaderLetter 1s linear infinite;
}

@keyframes lineMove {
    0% {
        top: -80px;
    }

    100% {
        top: 100%;
    }
}

@keyframes loaderLetter {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@layer components {
    .section-link.active {
        @apply text-white tracking-[1px];
    }

    @media (max-width: 1023.98px) {
        .section-link.active {
            @apply border-white;
        }
    }
    .section-link.active .nav-circle:before {
        @apply w-7 h-7 bg-transparent border border-white border-dashed opacity-100;
    }

    .toggle-menu.show {
        @apply visible opacity-100 translate-x-0;
    }

    .stroke-text {
        @apply text-black;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.4px;
        -webkit-text-stroke-color: black;
    }

    .dark .stroke-text {
        @apply text-white;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.4px;
        -webkit-text-stroke-color: white;
    }

    .portfolio-stroke-text {
        @apply text-white;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .portfolio-stroke-text:hover {
        -webkit-text-fill-color: white;
    }

    [data-backdrop-text]:after {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .dark [data-backdrop-text]:after {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .mixitup-control-active {
        @apply bg-black text-white;
    }

    .dark .mixitup-control-active {
        @apply bg-white text-black;
    }

    .loaded .preloader {
        @apply invisible opacity-0;
    }
}
