@import "tailwindcss";

@source "./../web/src/**/*.{rs,html,css}";
@source "./../ui/src/**/*.{rs,html,css}";

@theme {
    --color-red-50: oklch(97.1% 0.013 17.38);
    --color-red-200: oklch(88.5% 0.062 18.334);
    --color-red-800: oklch(44.4% 0.177 26.899);
    --color-red-900: oklch(39.6% 0.141 25.723);
    --color-amber-50: oklch(98.7% 0.022 95.277);
    --color-amber-200: oklch(92.4% 0.12 95.746);
    --color-amber-900: oklch(41.4% 0.112 45.904);
    --color-teal-700: oklch(51.1% 0.096 186.391);
    --color-teal-900: oklch(38.6% 0.063 188.416);
    --color-cyan-200: oklch(91.7% 0.08 205.041);
    --color-cyan-300: oklch(86.5% 0.127 207.078);
    --color-slate-100: oklch(96.8% 0.007 247.896);
    --color-slate-400: oklch(70.4% 0.04 256.788);
    --color-slate-900: oklch(20.8% 0.042 265.755);
    --color-gray-900: oklch(21% 0.034 264.665);
    --color-black: #000;
    --color-white: #fff;
}